require File.expand_path('../config/application', __FILE__)

<%= app_const %>.load_tasks

# Load shared Aptible Rake tasks
require 'aptible/tasks'
Aptible::Tasks.load_tasks

Aptible::Tasks.clear_task :default
task default: ['db:create', :ci]
